.app {
  text-align: center;
}

.appHeader {
  background: linear-gradient(90deg, #ffb6c1, #ff69b4 );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
