.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(244, 164, 96, 0.95),
      rgba(210, 105, 30, 0.01),
      rgba(244, 164, 96, 0.95)
    ),
    no-repeat url('../../photos/IMG20190505093753.jpg');
  background-position: center;
  background-size: cover;
  padding: 50px;
}

.backOfAlbum {
  background: linear-gradient(
      180deg,
      rgba(27, 32, 17, 0.95),
      rgba(27, 32, 17, 0.01),
      rgba(27, 32, 17, 0.95)
    ),
    no-repeat url('../../photos/IMG0416.jpg');
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.playerWrapper {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 10;
}

.player {
  background: transparent !important;
}

@media (max-width: 830px) {
  .app {
    padding: 20px 10px;
  }
}
