.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 5px;
}

.buttonWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button {
  background: #fff;
  padding: 5px 10px;
  outline: none;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: rgb(244, 164, 96);
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover {
  border: 2px solid rgb(244, 164, 96);
}

.photoWrapper {
  display: block;
  position: absolute;
  max-width: 700px;
  border-radius: 10px;
  animation: appearing 1s linear;
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.photoWrapper img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.position1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: unset;
}

.position2 {
  top: 0;
  right: 0;
}

.position3 {
  top: 0;
  left: 0;
}

.position4 {
  bottom: 0;
  right: 0;
}

.position5 {
  bottom: 0;
  left: 0;
}

.position6 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.position7 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.position8 {
  bottom: 10%;
  left: 10%;
}

.positonLast {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: unset;
}

.positonLast img {
  min-width: 65vw;
}
