@font-face {
  font-family: 'Caveat';
  src: url('./fonts/Caveat-Regular.woff2') format('woff2'),
    url('./fonts/Caveat-Regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Caveat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Caveat', sans-serif;
}
